/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  padding-left: 50px;
  padding-right: 10px;
  line-height: 1.6;
  background-color: #ecf0f1 ;
  
}

body p,ul{
    color: #34495e;
}

body h1,h2,h3{
    color: #3498db;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #3498db ;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("../img/A.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #ecf0f1;
}

.hero {
  text-align: left;
  margin: 30px 0;
}

.image-placeholder {
  background-color: #eee;
  height: 200px;
  margin-top: 20px;
  
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.facilities {
  text-align: center;
  padding: 30px 0;
}

.facility-items {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.item .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #3498db;
  margin: 0 auto 10px auto;
}

.circle img{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, textarea {
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  width: 100px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.submitted {
  flex: 1;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  color: #555;
}
.about {
    text-align: justify;
    padding: 10px;
}

.about h2{
    text-align: center;
}

.vision-mission{
    text-align: justify;
    padding: 10px;
}

.vision-mission h2{
    text-align: center;
}

.vision-mission ul{
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}

@media (max-width: 768px) {
  .facility-items, .contact {
    flex-direction: column;
    align-items: center;
  }

  form, .submitted {
    width: 100%;
  }
  .image-placeholder {
        width: 100%;       /* ukuran crop */
        height: auto;
        overflow: hidden;
        position: relative;
    }
  .image-placeholder img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        object-position: center;
        border-radius: 5px;
    }
}
